@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.nav-bar {
  background-color: #f55a5a;
  /* width: 550px; */
  height: 55px;
}

p {
  padding-top: 20px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14.46px;
  font-weight: 500;
}
